@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container">
    <br /><br />
<h2>Admin Dashboard</h2>

<div class="row">
    <div class="col-md-6">
        <a asp-controller="Admin" asp-action="Categories" class="btn btn-primary btn-block">Manage Categories</a>
    </div>
    <div class="col-md-6">
        <a asp-controller="Admin" asp-action="Users" class="btn btn-primary btn-block">Manage Users</a>
    </div>
</div>
</div>
