<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Existing head content -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineAuction</title>
    <link href="~/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3x7qv6bxSlYDHgRWmSt+GkgHOSja7bq2pKdKzpi3BLY/q3oWVgBdpEQO3FdYPs90E+r1HwNHjN5coZe5aqNg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-2Ke1g8Hga3VdZkgHzoA8KLOt+oD+k4eajQwlxdIehy05cBhY6+WJjkJclmocBuT/OvM5G9J4GT6P7GmKgr0aUg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/OnlineAuction.styles.css" asp-append-version="true" />
    <style>
        body{
            font-family: Arial Narrow, sans-serif;
        }
        /* Your existing styles */
        .btn-primary {
            color: #212529;
            background-color: #D19C97;
            border-color: #D19C97;
        }

            .btn-primary:hover {
                color: #fff;
                background-color: #c5837c;
                border-color: #c17a74;
            }

            .btn-primary:focus, .btn-primary.focus {
                color: #fff;
                background-color: #c5837c;
                border-color: #c17a74;
                box-shadow: 0 0 0 0.2rem rgba(183, 138, 135, 0.5);
            }

            .btn-primary.disabled, .btn-primary:disabled {
                color: #212529;
                background-color: #D19C97;
                border-color: #D19C97;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <!-- Topbar Start -->
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">
                        <span class="text-primary font-weight-bold border px-1 mr-1">Online</span>Auction
                    </h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form asp-controller="Products" asp-action="Search" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="query" placeholder="Search for products">
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            @*  <div class="col-lg-3 col-6 text-right">
            <a href="" class="btn border">
            <i class="fas fa-shopping-cart text-primary"></i>
            <span class="badge">0</span>
            </a>
            </div> *@
        </div>
        <!-- Topbar End -->
        <!-- Navbar Start -->
        <div class="container-fluid">
            <div class="row border-top px-xl-5">
                <div class="col-lg-3 d-none d-lg-block">
                    <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                        <h6 class="m-0">Categories</h6>
                        <i class="fa fa-angle-down text-dark"></i>
                    </a>
                    <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 100;">
                        @await Html.PartialAsync("_CategoriesPartial")
                    </nav>
                </div>
                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                        @*  else
                        {
                        <div class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </div>
                        } *@
                        <a href="" class="text-decoration-none d-block d-lg-none">
                            <h1 class="m-0 display-5 font-weight-semi-bold">
                                <span class="text-primary font-weight-bold border px-3 mr-1">Online</span>Auction
                            </h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
@*                                 <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="DetailPage">Detail</a> *@
@*                                 <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Checkout">Checkout</a> *@
                                @*  <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                <a href="checkout.html" class="dropdown-item">Checkout</a>
                                </div>
                                </div> *@
                                <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                            </div>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="navbar-nav">
                                    <a class="nav-item nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
                                </div>
                            }

                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="navbar-nav">
                                    <a class="nav-item nav-link" asp-area="" asp-controller="Products" asp-action="Index">My Items</a>
                                </div>
                            }
                            <div class="navbar-nav ml-auto py-0">
                                <partial name="_loginpartial"></partial>
                                @* <a href="../Views/Shared/_LoginPartial.cshtml" class="nav-item nav-link">Login</a>
                                <a href="" class="nav-item nav-link">Register</a> *@
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar End -->

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        @*  <footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2024 - OnlineAuction - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        </footer> *@

        <!-- Footer Start -->
        <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
            <div class="row px-xl-5 pt-5">
                <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                    <a href="" class="text-decoration-none">
                        <h1 class="mb-4 display-5 font-weight-semi-bold">
                            <span class="text-primary font-weight-bold border border-white px-3 mr-1">Online</span>Auction
                        </h1>
                    </a>
                    <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum dolore amet erat.</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Aptech SFC, Karachi</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>m.raziu99@gmail.com.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+923091256320</p>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Home</a>
                                <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Contact"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Home</a>
                                <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Contact"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control border-0 py-4" placeholder="Your Email" required="required" />
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top border-light mx-xl-5 py-4">
                <div class="col-md-6 px-xl-0">
                    <p class="mb-md-0 text-center text-md-left text-dark">
                        &copy; <a class="text-dark font-weight-semi-bold" href="#">Online Auction</a>. All Rights Reserved. Designed
                        by
                        <a class="text-dark font-weight-semi-bold" href="#">Aptech</a><br>
                        Distributed By <a href="#" target="_blank">Students</a>
                    </p>
                </div>
                <div class="col-md-6 px-xl-0 text-center text-md-right">
                    <img class="img-fluid" src="~/img/payments.png" alt="">
                </div>
            </div>
        </div>
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/easing/easing.min.js"></script>
        <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-tS3x7qv6bxSlYDHgRWmSt+GkgHOSja7bq2pKdKzpi3BLY/q3oWVgBdpEQO3FdYPs90E+r1HwNHjN5coZe5aqNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $(document).ready(function () {
                $(".owl-carousel").owlCarousel({
                    loop: false,
                    margin: 10,
                    nav: true,
                    navText: [
                        '<i class="fas fa-chevron-left" aria-label="Previous"></i>',
                        '<i class="fas fa-chevron-right" aria-label="Next"></i>'
                    ],
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 3
                        },
                        1000: {
                            items: 4
                        }
                    }
                });
            });
        </script>




        <!-- Contact Javascript File -->
        <script src="~/mail/jqbootstrapvalidation.min.js"></script>
        <script src="~/mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="~/js/main.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
